@import "../Utils";

.post {
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  background: $veryPaleGreen;
  border-radius: 1rem;

  @include responsive(tablet) {
    padding: 2vh 5vw;
  }

  @include responsive(mobile) {
    padding: 2vh 2vw;
  }
}

.creator-info {
  display: flex;
  align-items: center;
}

.creator-name {
  padding-left: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: $lightGrey;
}

.title {
  padding-top: 0.5rem;
  font-size: 2rem;
}

.content {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}

.button-wrapper {
  align-self: flex-end;
  display: inline-flex;

  > * {
    margin: 0.5rem;
  }
}
